.calculator
  h1 FreeCodeCamp Calculator
  input.screen(type="textbox" value="0") 
  .btn-group
    button.key.operator#allclear(value="AC") AC
    button.key.operator#clear(value="CE") CE
    button.key.operator(value="%") %
    button.key.operator(value="/") รท
    button.key(value="7") 7
    button.key(value="8") 8
    button.key(value="9") 9
    button.key.operator(value="*") x
    button.key(value="4") 4
    button.key(value="5") 5
    button.key(value="6") 6
    button.key.operator(value="-") -
    button.key(value="1") 1
    button.key(value="2") 2
    button.key(value="3") 3
    button.key.operator(value="+") +
    button.key#decimal(value=".") .
    button.key(value="0") 0
    button.key.operator#ans(value="Ans") Ans
    button.key.operator#return(value="=") =